.header-flat-name{
  padding-top: 30px;
  margin-left: -60px;
}

.form-color{
  background: #ECEBEB;
  padding: 20px 10px;
}

#flat-description{
  background: #ECEBEB;
  padding: 20px 10px;
  font-size: 14px;
}
